@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");

body {
  background: radial-gradient(
    98.26% 251.56% at 13.33% 18.61%,
    #343131 0%,
    #1d1919 100%
  );
  font-family: "Catamaran", sans-serif;
}

body,
html {
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 98px 1fr;
  height: 100%;
  /*
  gap: 60px;
  */
}

.content-sidebar {
  border-right: 1px solid #505050;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*
.content-sidebar_button {
    display: block;
    width: 100%;
    height: 98px;
    background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
    background-image: url(../img/menu.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;

}
*/
.content-sidebar_button {
  display: block;
  width: 100%;
  height: 98px;
  background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
  border: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.content-sidebar_button::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 50%);
  left: calc(50% - 50%);
}

.content-sidebar_list {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 0;
}

.content-sidebar_item {
  margin-top: 63px;
}

.content-sidebar_link {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.content-sidebar_fb {
  background-image: url(../img/fb.svg);
}

.content-sidebar_inst {
  background-image: url(../img/inst.svg);
}

.content-sidebar_tvit {
  background-image: url(../img/tvit.svg);
}

.content-header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
  padding-left: 60px;
}

.content-header_logo {
  display: block;
  width: 102px;
  height: 31px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-header_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.content-header_item {
  margin-left: 67px;
}

.content-header_item:first-child {
  margin-left: 0;
}

.content-header_link {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}

.content-header_link::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  bottom: -8px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.content-header_link.active {
  font-weight: 800;
}

.content-header_link.active::after,
.content-header_link:hover:after {
  opacity: 1;
}

.content-header_link.wallet {
  background-image: url(../img/wallet.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 24px;
  height: 24px;
}

.content-main {
  grid-column: 2/3;
  grid-row: 2/3;
}

.swiper {
  height: calc(100vh - 98px);
  position: relative;
}

.swiper-wrapper {
  flex-basis: 500px;
  position: static;
}

.swiper-body {
  margin-left: 50%;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  left: 60px;
  position: absolute;
  width: 203px;
  flex-basis: 203px;
}

.swiper-pagination-bullets-active {
  background: transparent;
}

.swiper-pagination-bullet {
  background: transparent;
  width: inherit;
  height: inherit;
  text-align: left;
  font-size: 34px;
  font-weight: 800;
  color: #fff;
}

.swiper-pagination-bullet span {
  display: block;
}

.pagination-art {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
}

.pagination-price {
    font-size: 17px;
    font-weight: 600;
    color: #BCBCBC;
}

.swiper-footer {
  position: absolute;
  background-color: #f00;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    270deg,
    rgba(66, 66, 66, 0.49) 0%,
    rgba(66, 66, 66, 0.4753) 76.04%,
    rgba(66, 66, 66, 0) 100%
  );
  backdrop-filter: blur(47.2917px);
}
